<h3>Holdings</h3>
<button class="btn btn-default btn-sm" ng-click="updateHoldings()">Update</button>
<button class="btn btn-default btn-sm" ng-click="displayGroup('Eunhee \& John')">Eunhee & John</button>
<button class="btn btn-default btn-sm" ng-click="displayGroup('Eunhee\'s Parents')">Eunhee's Parents</button>
<hr>

<div ng-repeat="(group, values) in holdings">

  <h4>{{ group }}</h4>

  <table class="table table-striped table-hover">

    <thead>
      <tr>
        <th>Acct Nm</th>
        <th>Bkr</th>
        <th>Grp</th>
        <th>Ownr</th>
        <th>Tkr</th>
        <th>Num shs</th>
        <th>Avg trd px</th>
        <th>Curr px</th>
        <th>Cost bsis</th>
        <th>Curr val</th>
        <th>P/L</th>
        <th>Rtns</th>
      </tr>
    </thead>

    <tbody>

    <tr>
      <td><b>Total</b></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td><b>{{ values.total.cost_basis | number: 0 }}</b></td>
      <td><b>{{ values.total.current_value | number: 0 }}</b></td>
      <td><b>{{ values.total.p_l | number: 0 }}</b></td>
      <td><b>{{ values.total.returns | number: 2 }}</b></td>
    </tr>

    <tr ng-repeat="holding in values.detail" ng-if="holding.num_shares > 0">
      <td><a ui-sref="account({ accountId: holding.account.id })">{{holding.account.account_name }}</a></td>
      <td>{{ holding.account.broker_name }}</td>
      <td>{{ holding.account.group_name }}</td>
      <td>{{ holding.account.owner_name }}</td>
      <td><a ui-sref="ticker({ ticker: holding.ticker })">{{ holding.ticker }}</a></td>
      <td>{{ holding.num_shares | number: 2 }}</td>
      <td>{{ holding.avg_trade_px | number: 2 }}</td>
      <td>{{ holding.current_px | number: 2 }}</td>
      <td>{{ holding.cost_basis | number: 0 }}</td>
      <td>{{ holding.current_value | number: 0 }}</td>
      <td>{{ holding.p_l | number: 0 }}</td>
      <td>{{ holding.returns | number: 2 }}</td>
    </tr>

    </tbody>

  </table>

  <hr>
</div>
