<h3>Transaction // {{ transaction.id }}</h3>
<hr>
<table class="table table-striped table-hover">

  <thead>
    <tr>
      <th>Acct</th>
      <th>Trd Dt</th>
      <th>Tkr</th>
      <th>Typ</th>
      <th># shs</th>
      <th>Trd px</th>
      <th>Gr amt</th>
      <th>Comm</th>
      <th>Ttl amt</th>
    </tr>
  </thead>

  <tbody>
  <tr>
    <td><a ui-sref="account({ accountId: transaction.account.id })">{{ transaction.account.account_name }}</a></td>
    <td>{{ transaction.trade_date | date:'yyyy.MM.dd' }}</td>
    <td><a ui-sref="ticker({ ticker: transaction.ticker })">{{ transaction.ticker }}</a></td>
    <td>{{ transaction.type }}</td>
    <td>{{ transaction.num_shares | number: 2 }}</td>
    <td>{{ transaction.trade_px | number: 2 }}</td>
    <td>{{ transaction.gross_amt | number: 0 }}</td>
    <td>{{ transaction.commission | number: 2 }}</td>
    <td>{{ transaction.total_amt | number: 0 }}</td>
  </tr>
  </tbody>

</table>


<a ui-sref="transaction#edit({ transactionId: transaction.id })" class="btn btn-primary">edit</a>
<button ng-click="deleteTransaction()" class="btn btn-danger">delete</button>
